{erl_opts, [debug_info]}.

{plugins,
  [
   {rebar3_proper, {git, "git@github.com:ausimian/rebar3_proper.git", {branch, "use_proper_src"}}}
  ]}.

{profiles,
 [{test,
   [{deps,
     [
      {proper, {git, "git@github.com:manopapad/proper.git", {tag, "v1.2"}}}
     ]}
   ]}
 ]}.

{relx,
  [{release, {crone, "0.1.0"}, [crone]},
   {dev_mode, true},
   {include_erts, false},
   {extended_start_script, true}
  ]}.
